/* src/app/login/login.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: black;
  background-image: url('/img/Fondo-login.jpg');
  background-size: cover;      /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;/* Evita que la imagen se repita */
}

.form {
  width: 80vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
  width: 60%;
  padding: 0.75rem;
  margin-top: 1.5vh;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 60%;
  padding: 0.75rem;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #005bb5;
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
  text-align: center;
}

.container_register{
  padding: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_register a{
  margin-left: 10px;
}

@media (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100%;
  }
  .form {
    width: 80%;
    height: 40vh;
  }
  .input {
    width: 80%;
  }
  .button {
    width: 80%;
  }
}

/* For screens smaller than 480px (small mobile devices) */
@media (max-width: 480px) {
  .container {
    height: 100vh;
    width: 100%;
  }
  .form {
    width: 90%;
    height: 60vh;
  }
  .input {
    width: 90%;
    margin-top: 1vh;
  }
  .button {
    width: 90%;
  }
}
